@import "./assets/scss/variables";

:host {
    display: block;
    min-width: 50vw;
    min-height: 50vh;
}

.formNewReq {
    padding: 1em;
    background-color: #cfffbe;
}

.item {
    white-space: normal;
    .name {
        font-weight: bold;
        font-size: 120%;
    }
    .info {
        font-size: 90%;
        font-style: italic;
    }
    LABEL {
        text-decoration: underline;
        white-space: nowrap;
    }
    .desc {
        padding: 0 4px;
    }
    &.proposal {
        background-color: $color-table-bg-new0;
    }
    &.in_dt {
        color: #ccc;
    }
}

.newtag {
    //background-color: lawngreen;
    color: green;
    font-weight: bold;
    font-size: 120%;
}

req-notes {
    margin-top: 2em;
}

// vyssi vybalovaci okno s vlastnostmi
:host ::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items { max-height: 75vh !important; }
// kdyz je otevrene vybalovaci okno s vlastnostmi, tak schovej zbytek formu, at to nemate
:host ::ng-deep ng-select.ng-select-opened + req-notes { visibility: hidden; }
