<h2 style="margin-top: 0;">Výběr nové vlastnosti k datové šabloně "{{ dt_data?.nameCS }}"</h2>

<div>
    <!-- ng-select vypnem pres NgIf aby se komponenta resla a vnimla zmenu v selectedRequirement !!! -->
    <ng-select *ngIf="!formNewReq" placeholder="vyberte novou vlastnost" [items]="requirements" [(ngModel)]="selectedRequirement" 
        bindLabel="nameCS" XbindValue="uuid" [addTag]="newReqOpen" [multiple]="true"
        [compareWith]="compare"
        >
        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div class="item" [class]="item._class" [class.in_dt]="item.in_dt" >
                        <span class="name" >{{item.nameCS}}</span>
                        &nbsp; 
                        <span class="info">
                            {{item.dataTypeCS}}
                            <ng-container *ngIf="item.units">
                                &nbsp;/&nbsp;{{item.units}}
                            </ng-container>
                        </span>
                        &nbsp;
                        <i class="fas fa-info-circle" (click)="item._showdesc=!item._showdesc;$event.stopPropagation(); "></i>

                        <div class="desc" *ngIf="item._showdesc">
                            <label>Popis</label>:<br>
                            {{ item.descriptionCS }}
                            <br>
                            <label>Poznámka</label>:<br>
                            {{ item.examples }}
                        </div>
            </div>
        </ng-template>
        <ng-template ng-tag-tmp let-searchTerm="searchTerm" >
            <div class="newtag">
                Přidat novou vlastnost <span class="searchterm">"{{searchTerm}}"</span>
            </div>
        </ng-template>
    </ng-select>
    <!-- tady nesmi byt nic mezi tim, jsou na to vazane styly -->
    <!-- req-notes skryvame jen pres hidden, aby vyplnena data zustala! -->
    <req-notes  [class.hidden]="formNewReq"
        [milestones]="milestones"
        [dt_uuid]="dt_data.uuid"
        [dt_name]="dt_data.nameCS"
        [reqs]="selectedRequirement"
    ></req-notes>

</div>


<div *ngIf="formNewReq" class="formNewReq">
    <new-req [name]="formNewReq_name" [close]="newReqClose"></new-req>
</div>