@import "./assets/scss/variables";

:host {
    //display: block;


}

.item {
    white-space: normal;
    .name {
        font-weight: bold;
        font-size: 120%;
    }
    .info {
        font-size: 90%;
        font-style: italic;
    }
    LABEL {
        text-decoration: underline;
        white-space: nowrap;
    }
    .desc {
        padding: 0 4px;
    }

}