// Import Bootstrap and App variables and mixins
//@import "../../../assets/scss/inner-imports";



TR.sum {
    background-color: #eee;
    TD,TH {
        text-align: right;
    }
}

TABLE { 
    TR.filter, TR.filter:hover {
        background-color: #eee;
    }
    TH {
        white-space: nowrap;
    }
}
