@import "./assets/scss/variables";

.topmenu {
    padding: 1em;
    background-color: #fff;
    .panel {
        display: flex;
        justify-content: space-between;
        grid-gap: 1em;
        A {
            color: $color-secondary-cyan1;
            padding: 0 0.3em;
            &.active {
                border-bottom: solid 2px $color-primary-red;
                background-color:#eee;
            }
            &:hover {
                border-radius: 5px;
                background-color: #ddd;
            }
        }
    }
}