<div *ngWormhole="'#wormhole-topmenu'" class="topmenu">
    <div class="panel">
        NOTES: 
        <a routerLink="req" routerLinkActive="active" title="Poznamky k vlastnostem">
            <i class="fas fa-comment"></i>
        </a>
        <a routerLink="dt-req" routerLinkActive="active" title="Návrhy vlastností do šablon">
            <i class="fas fa-folder-plus"></i>
        </a>
        <a routerLink="dt" routerLinkActive="active" title="Nové datové šablony">
            <i class="fas fa-book-open"></i>
        </a>
        <a routerLink="requirement" routerLinkActive="active" title="Nové vlastnosti">
            <i class="fas fa-list-alt"></i>
        </a>
    </div>
</div>

<router-outlet></router-outlet>