<!-- dt_uuid={{dt_uuid}}<br>req_uuid={{req_uuid}} -->

<form name="regedit" #editform="ngForm"  (ngSubmit)="onSubmit()" class="form-note-req">
    <div class="form-group">
        <label for="username">Návrh</label>
        <textarea name="suggestion" [(ngModel)]="formdata.suggestion" class="form-control" required ></textarea>
    </div>
    <div *ngIf="error" class="form-group error" role="alert">
        Odeslání formuláře selhalo<br>
        {{ error }}
    </div>
    <div class="form-group form-buttons-bar">
        <input type="submit" name="submit" value="Odeslat">
    </div>
</form>
