@import "./assets/scss/variables";

:host {
}

.note {
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
    border: solid 1px;
    border-left-width: 20px;
/*     border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px; */
    &.new       { border-color: $color-notes-new-border; background-color: $color-notes-new-bg1; &:hover { background-color: $color-notes-new-bg2;} }//.state { background-color: #ff0;} }
    &.confirmed { border-color: $color-notes-confirmed-border; background-color: $color-notes-confirmed-bg1; &:hover { background-color: $color-notes-confirmed-bg2;} }//.state { background-color: #0f0;} }
    &.rejected  { border-color: $color-notes-rejected-border; background-color: $color-notes-rejected-bg1; &:hover { background-color: $color-notes-rejected-bg2;} }//.state { background-color: #f00;} }

    .state {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px;
        padding: 5px;
        padding-top: 0px;
        font-weight: bold;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
        transform: rotate(90deg);
        transform-origin: 0 0;
    }

    .date {
        margin-right: 1em;
    }
}
