@import "./assets/scss/variables";

:host {
    display: block;
    max-width: 75vw;
    background-color: $color-bg-infodropbox-notes-req;
    padding: 0.5em;
    //border: solid 1px #8a893c;
    border-radius: 6px;
    font-size: smaller;
    box-shadow: 0 0 10px #000;

}

.note {
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
    border: solid 1px;
    border-left-width: 20px;
/*     border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px; */
    &.new       { border-color: #ffa700; background-color: #ffe; }//.state { background-color: #ff0;} }
    &.confirmed { border-color: #0f0; background-color: #efe; }//.state { background-color: #0f0;} }
    &.rejected  { border-color: #f00; background-color: #fee; }//.state { background-color: #f00;} }

    .state {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px;
        padding: 5px;
        padding-top: 0px;
        font-weight: bold;
        color: #000;
        text-shadow: 1px 1px 2px #fff;
        transform: rotate(90deg);
        transform-origin: 0 0;
    }

    .date {
        margin-right: 1em;
    }
}
