
@import "./assets/scss/variables";

BODY {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: $color-white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.actions__item {
    cursor: pointer;
}

.notready {
    opacity: 50%;
    pointer-events: none;
    color: #888;
}

mad-table {
    .btn-toolbar .zmdi-search {
        color: $color-secondary-cyan1;
    }
    table {
        TD { white-space: nowrap; }
        TR.new       { background-color: $color-notes-new-bg1;       &:hover {background-color: $color-notes-new-bg2;}}
        TR.confirmed { 
            background-color: $color-notes-confirmed-bg1; 
            &:hover {background-color: $color-notes-confirmed-bg2;}
            TD {
                border-color: darken($color-notes-confirmed-bg1, 7%);
            }
        }
        TR.rejected  { 
            background-color: $color-notes-rejected-bg1;  
            &:hover {background-color: $color-notes-rejected-bg2;}
            TD {
                border-color: darken($color-notes-rejected-bg1, 7%);
            }
        }
        .actions__item.zmdi {
            color: $color-secondary-cyan1;
            &:hover {
                color: $color-secondary-cyan2;
                text-decoration: none;
            }
        }
    }
}

mad-detail table.edit {
    background-color: #e0efff;
}