<a href="javascript:void(0);" ngDropdown [renderInPlace]="false" #infoDropdown="ngDropdown" *ngIf="notes">
    <i class="aico fas fa-info-circle" ngDropdownControl></i>
    <div ngDropdownContent dropdownClass="slide-fade notes-popup" >
        <notes-req-popup [notes]="notes"></notes-req-popup>
    </div>
</a>


<a href="javascript:void(0);" ngDropdown [renderInPlace]="false" #infoDropdown="ngDropdown" >
    <i class="aico fas fa-edit" ngDropdownControl></i>
    <div ngDropdownContent dropdownClass="slide-fade notes-popup" >
        <req-notes [type]="'note'" [milestones]="milestones" [dt_uuid]="dt_uuid" [req_uuid]="req_uuid"></req-notes>
    </div>
</a>

