@import "./assets/scss/variables";

.panel {
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 1em 0em;
    A {
        display: inline-block;
        color: inherit;
        margin: 0 0.2em;
        padding: 0 0.3em;
        &.active {
            border-bottom: solid 2px $color-primary-red;
            background-color:#eee;
        }
        &:hover {
            border-radius: 5px;
            background-color: #ddd;
        }

    }
}